body {
    font-family: 'Share Tech Mono', monospace;
    color: brown;
    background-color:#CD853F;
    color:black;
    
}
.container{
    padding-left: 60px;
    border-radius: 10%;
    border: black;
    background-image: url('img/bomb (1).png');
}
#questionField{
    background: #FDEAA8	;
}
#h1{
    background: #FDEAA8;
}
#gameStatusField{
    background:#FDEAA8;
}

.timer-output{
    width: 200px;
    background: #222;
    color: darkred;
    padding: 16px 8px;
    font-size: 64px;
    text-align: center;
    line-height: 1;
    user-select: none;
}

.timer-output-wrapper{
    width: calc(100% - 24px);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 12px;
}
.btn-group{
    margin-left: 150px;

    width: 200px;
    height: 50px;
}
